<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Editar Perfil</h1>
    <button class="button button-icon icon ion-close" ng-click="vm.cancelEdit()"></button>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label padding">
        <span class="input-label">CPF (apenas números)</span>
        <input type="text" ng-model="vm.editUser.cpf">
      </label>
      <label class="item item-input item-stacked-label padding">
        <span class="input-label">Nome Completo</span>
        <input type="text" ng-model="vm.editUser.name">
      </label>
      <label class="item item-input item-stacked-label padding">
        <span class="input-label">E-mail</span>
        <input type="email" ng-model="vm.editUser.email">
      </label>
      <label class="item item-input item-stacked-label padding">
        <span class="input-label">Senha (deixe em branco caso não queira editar)</span>
        <input type="password" ng-model="vm.editUser.password">
      </label>
      <label class="item item-input item-stacked-label padding">
        <span class="input-label">Repita a Senha</span>
        <input type="password" ng-model="vm.editUser.repeatPassword">
      </label>
    </div>
    <div class="center-align">
      <button class="button button-balanced" ng-click="vm.finishEdit()">
        Salvar
      </button>
    </div>
  </ion-content>
</ion-modal-view>
